/* ================== Общие стили ================== */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Lexend", sans-serif;
    background: #131825;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Учитываем safe-area для Telegram Mini App */
body {
    padding-top: calc(env(safe-area-inset-top) + 60px);   /* header + Telegram UI */
    padding-bottom: calc(env(safe-area-inset-bottom) + 70px); /* footer + gestures */
}

html{
    overflow-x: hidden;
}

.user-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* ================== HEADER ================== */
header {
    position: fixed;
    top: env(safe-area-inset-top);
    left: 0;
    width: 100%;
    z-index: 100;
    background: #2a3549;
}

.header__content{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
}

.logo{
    display: flex;
}

.user-name{
    font-size: 18px;
    font-weight: 600;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-stat{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.stars-earned{
    color: #dddddd;
}

.stars-balance{
    background: #53617a;
    padding: 10px 20px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

/* ================== MAIN ================== */
main {
    padding: 15px;
    box-sizing: border-box;
    min-height: calc(100vh - 130px); /* header + footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* ================== SECTIONS ================== */
.section-header, .section-cases {
    width: 100%;
    color: #fff;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 20px;
}

.section-header__content,
.section-cases__content {
    margin-top: 15px;
    padding: 0 15px;
    margin-bottom: 85px;
}

.section-header__blocks,
.section-cases__blocks {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
}

/* ================== AD & CASE BLOCKS ================== */
.ad-block, .case-block {
    border-radius: 15px;
    position: relative;
    background-color: #1e2533;
    font-family: "Lexend", sans-serif;
    max-width: 200px;
    min-width: 180px;
}

.ad-block__img, .case-block__img {
    width: 100%;
    border-radius: 15px;
    height: auto;
}

.ad-block__bottom, .case-block__bottom{
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    padding: 10px;
}

.ad-block__title, .case-block__title {
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
}

.ad-block__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ad-block__desc, .case-block__desc {
    height: 27px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    color: #bbb;
}

.ad-block__price, .case-block__price {
    padding: 5px 8px;
    background: #ffffff1f;
    color: rgb(255, 255, 255);
    font-weight: 800;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.ad-link {
    padding: 10px;
    display: flex;
    justify-content: center;
    background: #53617a;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 1s ease;
}

.ad-link:hover {
    background: #313e57;
}

.ad-link__mobile {
    display: flex;
}

.case-durov {
    background:#0b1020;
    color:#fff;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:36px;
    min-height:85vh;
    box-sizing:border-box;
}

/* ================== BACK BUTTON ================== */
.back-button {
    display: flex;
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #8096bb;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 80px;
    left: 20px;
}

/* ================== SPIN / STRIP ================== */
:root { --viewport-w:700px; --viewport-h:140px; }

.viewport {
    width: var(--viewport-w);
    height: var(--viewport-h);
    background: linear-gradient(180deg,#111,#0e1420);
    border-radius:12px;
    overflow:hidden;
    position:relative;
    box-shadow:0 20px 40px rgba(0,0,0,0.6);
    margin-top: 20px;
}

.strip {
    position:absolute;
    left:0; top:20px; /* небольшой отступ сверху */
    display:flex;
    gap:5px;
    align-items:center;
    will-change:transform;
    transform:translateX(0px);
}

.item {
    width:100px;
    height:100px;
    border-radius:8px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700;
    font-size:18px;
    color:white;
    box-shadow:0 8px 18px rgba(0,0,0,0.45);
    flex-shrink:0;
    user-select:none;
}

.indicator {
    position:absolute;
    left:50%;
    top:0;
    bottom:0;
    width:3px;
    background:linear-gradient(180deg,#fff,#bbb);
    transform:translateX(-50%);
    box-shadow:0 0 0 6px rgba(255,255,255,0.02) inset;
}

.spin-btn {
    margin-top:28px;
    padding:12px 20px;
    font-size:14px;
    font-weight: 800;
    border-radius:10px;
    border:0;
    cursor:pointer;
    background:#53617a;
    color:white;
}

#result {
    margin-top:18px;
    font-size:18px;
    font-weight: 400;
}

/* ================== MESSAGE ================== */
.ad-link-msg {
    color: #fff;
    background: #53617a;
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    margin-left: 8px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.3s;
    transform: translateY(-5px);
    display: inline-block;
}

.ad-link-msg.show {
    opacity: 1;
    transform: translateY(0);
}

#telegram-messages {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
}

.message {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 10px;
    font-weight: bold;
}

.message.success { background: green; }
.message.error { background: red; }

/* ================== FOOTER ================== */
.footer-nav {
    display: flex;
    background: #2a3549;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    gap: 20px;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    left: 0;
    font-weight: 700;
    z-index: 2;
    padding-bottom: env(safe-area-inset-bottom);
}

.footer-nav__item{
    margin-bottom: 15px;
}

.footer-nav__item.active a {
    color: #8096bb;
}

/* ================== MEDIA ================== */
@media (max-width:760px){
    :root{ --viewport-w:92vw; }
}

@media screen and (max-width: 710px) {
    .ad-block__text { flex-direction: column; }
    .ad-block__price { padding: 8px 15px; }
    .price{ display: none; }
    .ad-link__default{ display: none; }
    .ad-link__mobile{ display: flex; }
}

@media screen and (max-width: 630px) {
    .section-header__blocks, .section-cases__blocks { grid-template-columns: 1fr 1fr; }
}

@media screen and (max-width: 550px) {
    .section-header__blocks{ grid-template-columns: 1fr 1fr; }
}

@media screen and (max-width: 430px) {
    .ad-block, .case-block{ min-width: 135px; }
    .section-header__blocks{ gap: 10px; }
    .ad-block__bottom{ padding: 0 10px; }
    .section-cases__blocks{ gap: 10px; }
}

@media screen and (max-width: 370px) {
    .section-header__blocks, .section-cases__blocks{ grid-template-columns: 1fr; }
    .ad-block__bottom{ padding: 0 20px; }
}
