body{
    font-family: "Lexend", sans-serif;
    background: #131825;
}

html{
    overflow-x: hidden;
   
}


.user-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.section__title{
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.header__content{
    display: flex;
    background: #2a3549;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    
    height: 60px;
    padding: 0 15px;
    
}

.logo{
    display: flex;
}

.user-name{
    font-size: 18px;
    font-weight: 600;
    font-family: "Lexend", sans-serif;
}

.user-info{
    display: flex;
    
    align-items: center;
    gap: 10px;
}

.user-stat{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.stars-earned{
    color: #dddddd;
}

.stars-balance{
    background: #53617a;
    padding: 10px 20px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.section-header {
    display: flex;
    width: 100%;
    color: #fff;
    justify-content: center;
    min-height: 100vh;
}


.section-header__content{
    margin-top: 10px;
    padding: 0 10px;
    margin-bottom: 85px;
    
}

/* ================== section header ================== */
.section-header__blocks {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
}

.ad-block {
    border-radius: 15px;
    position: relative;
    background-color: #1e2533;
    font-family: "Lexend", sans-serif;
    max-width: 200px;
    min-width: 180px;

}

#refreshIndicator.refreshing svg {
  animation: spin 1s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ad-block__head{
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; /* если у всех квадратные */
    overflow: hidden;
}

.ad-block__img {
    width: 100%;
    border-radius: 15px;
    height: auto;
}

.ad-block__video{
    width: 100%;
    border-radius: 15px;
    height: auto;
    object-fit: cover; /* чтобы не растягивалось */
     display: block;
}

.ad-block__bottom {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    padding: 10px;
}

.ad-block__title {
    margin-top: 10px;
    font-size: 18px;
    
}

.ad-block__desc {
    margin-top: 10px;
    font-size: 14px;
    color: #bbb;
    min-height: 28px;
}

.ad-block__username{
    margin-top: 5px;
    font-weight: 600;
    color: #53617a;
}

.ad-block__price {
    margin-top: 10px;
    font-weight: 600;
    background: #53617a;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ad-link {
    padding: 10px;
    display: flex;
    justify-content: center;
    background: #53617a;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 1s ease;
}

.ad-link:hover {
    background: #313e57;
}

.ad-link__mobile{
    display: flex;
}


.footer-nav{
    display: flex;
    background: #2a3549;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    gap: 40px;
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-weight: 700;
    z-index: 2;
}

.footer-nav__item{
    margin-bottom: 15px;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

main {
    padding-top: 60px;   
    padding-bottom: 15px; 
    position: relative;
}


/* Cases */

.section-cases {
  display: flex;
    width: 100%;
    color: #fff;
    justify-content: center;
    min-height: 100vh;
}

.section-cases__content {
    margin-top: 15px;
    padding: 0 10px;
    margin-bottom: 85px;
}

.section-cases__blocks {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
}

.case-block {
    border-radius: 15px;
    position: relative;
    background-color: #1e2533;
    font-family: "Lexend", sans-serif;
    max-width: 200px;
    min-width: 180px;
  
}


.case-block__img {
    width: 100%;
    border-radius: 15px;
    height: auto;
  
}

.case-block__bottom{
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    padding: 10px;
}

.case-block__title {
  margin-top: 10px;
  font-size: 18px;
  
}

.case-block__desc{
    margin-top: 10px;
    font-size: 14px;
    
    color: #bbb;
}

.case-block__price{
    margin-top: 10px;
    font-weight: 600;
    background: #53617a;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.case-durov{
    background:#131825;
    color:#fff;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    
    min-height:85vh;
    box-sizing:border-box;
    padding: 0 10px;
    margin-top: 15px;
}



.back-button{
    display: flex;
    width: 35px;
    height: 35px;
    position: fixed;
    z-index: 1000;
    top: 80px;
    left: 15px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background: #1e2533;
    outline: none;
    align-items: center;
    justify-content: center;
    
}

:root { --viewport-w:700px; --viewport-h:140px; }

  .viewport{
    width:var(--viewport-w);
    height:var(--viewport-h);
    background: #131825;
    border-radius:12px;
    overflow:hidden;
    position:relative;
    
  }

  .strip{
    position:absolute;
    left:0; top:20px;
    display:flex;
    gap:5px;            
    align-items:center;
    will-change:transform;
    transform:translateX(0px);
  }

  .item{
    width:100px;         
    height:100px;
    border-radius:8px;
    display:flex;
    align-items:center;
    justify-content:center;
    background: #1e2533;
    box-shadow:0 10px 10px rgba(0,0,0,0.45);
    flex-shrink:0;
    user-select:none;
  }

  .indicator{
    position:absolute;
    left:50%;
    top:0;
    bottom:0;
    width:3px;
    background: #ffffffab;
    transform:translateX(-50%);
    box-shadow:0 0 0 6px rgba(255,255,255,0.02) inset;
  }

 .spin-btn{
    margin-top:40px;
    padding:15px 15px;
    font-size:15px;
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    border-radius:10px;
    border:0;
    cursor:pointer;
    background: #1e2533;
    color: #fff;
  }

  .admin-btn {
  background: #204c94;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  font-weight: 600;
  transition: background 0.2s ease;
}
.admin-btn:hover { background: #1a5edb; }

.admin-page {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    color: #fff;
    margin-bottom: 90px;
}

.admin-upload input[type="text"],
.admin-upload input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1e2533;
    color: #fff;
    margin: 10px 0;
}

.upload-btn {
    background: #26a269;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s ease;
}
.upload-btn:hover { background: #208e5d; }

.admin-delete-ad input[type="text"],
.admin-delete-ad input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1e2533;
    color: #fff;
    margin: 10px 0;
}
  
.deleteAdBtn{
    background: #cc2020;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s ease;
}

.deleteAdBtn:hover { background: #810e0e; }

  #result{
    
    margin-top:18px;
    font-size:18px;
    font-weight: 400;
    font-family: "Lexend", sans-serif;
  }

  .ad-link-msg {
    color: #fff;
    background: #53617a;
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    margin-left: 8px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.3s;
    transform: translateY(-5px);
    display: inline-block;
}
.ad-link-msg.show {
    opacity: 1;
    transform: translateY(0);
}

#telegram-messages {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
}

.message {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 10px;
  font-weight: bold;
}

.message.success { background: green; }
.message.error { background: red; }


.svg{
    width: 20px;
    height: 20px;
    
}

/* SEARCH */

.section__page-ad{
    display: flex;
    flex-direction: column;
    

}

.section-search{
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
    color: #fff;
}

.search-container {
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.search-wrapper {
  position: relative;
  flex: 1;
  max-width: 375px;

  
}

.clear-search {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-48%); 
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease;
}


.clear-search svg {
  opacity: 0.7;
}

.clear-search:hover svg {
  opacity: 1;
}

.update-list__button{
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background: #1e2533;
    color: #fff;
    font-size: 16px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s;
}

.update-list__button svg {
  transition: transform 0.6s ease;
}

.update-list__button svg.rotating {
  animation: spin 1s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#searchInput {
  width: 100%;
 
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: #1e2533;
  color: #fff;
  font-size: 16px;
  outline: none;
  
}

#searchInput::placeholder {
  color: #888;
}

.suggestions {
  position: absolute;
  top: 45px;
  width: 100%;
  max-width: 415px;
  background: #1e2533;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  overflow-y: auto;       
  max-height: 155px;     
  display: none;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestions li {
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
  white-space: nowrap;  
}

.suggestions li:hover {
  background: #2a3549;
}





.ad-block__hashtag.highlight {
  background-color: #53617a; 
  box-shadow: 0 0 5px #53617a;

}

.no-results {
   
    display: none;
    text-align: center;
    color: #bbb;
    font-size: 15px;
    margin-top: 50%;
    
}

.ad-block__hashtags{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.ad-block__hashtag{
    background: #2a3549;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 14px;
    color: #fff;
    display: flex;
    white-space: nowrap;
}



.hashtag-recommended{
    background: #5a77a8;
    box-shadow: 0 0 5px #5a77a8;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 14px;
    color: #fff;
    display: flex;
    
}

  @media (max-width:760px){
    :root{ --viewport-w:92vw; }
  }

@media screen and (max-width: 710px) {
    .ad-block__text{
    flex-direction: column;
}
    .ad-block__price{
        padding: 8px 15px;
    }

    .price{
        display: none;
    }

    .ad-link__default{
        display: none;
    }

    .ad-link__mobile{
        display: flex;
    }
}


@media screen and (max-width: 630px) {
    .section-header__blocks{
        grid-template-columns: 1fr 1fr;
    }

    .section-cases__blocks{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 550px) {
    .section-header__blocks{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 430px) {
    .ad-block{
        min-width: 135px;
           
    }
    .case-block{
        min-width: 135px;
           
    }
    
    .section-header__blocks{
        gap: 10px;
    }

    .section-cases__blocks{
        gap: 10px;
    }
}

@media screen and (max-width: 370px) {
    .section-header__blocks{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-cases__blocks{
        grid-template-columns: 1fr ;
    }
    
    
}

